
.classpath
.project
.settings/.jsdtscope
*.prefs
*.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/org.eclipse.wst.jsdt.ui.superType.container
*.class
*.class
*.class
build/classes/
*.class
*.class
build/classes/pages/game/GameMainPage.class
build/classes/hibernate.cfg.xml
build/classes/model.xml/EnemyBoard.hbm.xml
build/classes/model.xml/EnemyBoard.hbm.xml
build/classes/hibernate.cfg.xml
build/classes/model/EnemyBoard.class
build/classes/model/Match.class
build/classes/model/PlayerBoard.class
build/classes/pages/game/GameMainPage.class
build/classes/pages/top/Login.class
build/classes/pages/top/Register.class
build/classes/services/PlayerServices.class
build/classes/template/DaoValue.class
build/classes/utility/GameLog.class
*.class
*.class
